.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title{
    color:#D73E4D;
}